
<div class="container" style="padding-top: 10px;">
  <div class="row">
      <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <div class="card col-md-3">
          <img src="{{item.image}}" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100ch;font-weight: bold;">{{item.title}}</h5>
          <p><strong>Price:</strong>${{item.price}}</p>
          <button routerLink="/cart" style="background-color: #32aeb1; color: aliceblue; font-size: larger;border-radius: 20px;border-color: blue;" (click)=addtoCart(item)>Add to cart</button>

      </div>
      </ng-container>
  </div>
</div> 





