
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <div class="block">
    <div class="text"><h6>LOGIN PAGE</h6></div>
    
    <div class="card">
      <div class="image">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
          style="width: 200px;height: 200px;">
      </div>
  
      <form [formGroup]='loginForm' class='login-container' (ngSubmit)="login()">
        <p [ngClass]="{'has-error': isSubmitted && formControls['email'].errors}">
            <label for="email">User Name :</label><br>
            <input type="email" placeholder="user name" #email formControlName="email" id="email">
        </p>
        <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
            <div *ngIf="formControls['email'].errors['required']">user name is required</div>
        </div>
        <p [ngClass]="{'has-error':isSubmitted && formControls['password'].errors}">
          <label for="password">password :</label><br>
            <input type="password" placeholder="password" #password formControlName="password" id="password">
        </p>
        <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
            <div *ngIf="formControls['password'].errors['required']">password is required</div>
        </div>
        <div class="button ">
          <button class="btn btn-success" (click)="get(email.value,password.value)" (click)="nextpage()" type="submit" [disabled]="loginForm.invalid">LOG IN</button>&nbsp;&nbsp;
          <a routerLink="/products"><button class="btn btn-success" >HOME</button></a>
        </div>
    </form>
    </div>
  </div>
  

  <!-- <div class="card">
    <div class="text-center">
      <h1>login</h1>
      <h6>please enter email and password</h6>
    </div>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #email>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" #password>
      </div>
      <button type="submit" class="btn btn-primary" (click)="get(email.value,password.value)"
        (click)="nextpage()">Submit</button>
    </form>
  </div> -->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>