<nav class="navbar navbar-expand-lg" style="background-color: #32aeb1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <img src="https://nms-assets.s3-ap-south-1.amazonaws.com/images/cms/aw_rbslider/slides/1663609483_netmeds-new-logo.svg" style="width: 168px;
    height: 60px;" alt="Netmeds">
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 10px;">
         
      <form class="d-flex" role="search" style="width: 500px;">
     
          <input class="form-control me-2" type="search" placeholder="Search for medicine&wellness products"
          [(ngModel)]="searchTerm" (keyup)="search($event)">
        
        </form>
    
        </ul>

       
    
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li>   -->
        <a  >
            <span style="color: aliceblue;">VIEW CART</span>
          <i style="font-size: 20px;color: aliceblue; " class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </a>  
       <!-- </li> -->
        </ul>
      
      
        <a routerLink="/login" >
          <i style="font-size: 20px;color: aliceblue;" class="fas fa-user">&nbsp;sign in/sign up</i>

        </a>
     
     
     
    
    </div>
  </div>
</nav>







<router-outlet></router-outlet>


<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer style="background-color: #32aeb1;margin-top: 20px;">
  <div class="content d-flex flex-column justify-content-end" >
    <div class="top">
      <div class="logo-details">
        <i class="fas fa-hospital"></i>
        <span class="logo_name">Netmeds</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">COMPANY</li>
        <li><a href="#">About Netmeds</a></li>
        <li><a href="#">Customer Speak</a></li>
        <li><a href="#">In the News</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#"> Contact</a></li>
        <li><a href="#"> Stories</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">SHOPPING</li>
        <li><a href="#">Browse by Manufacturers</a></li>
        <li><a href="#">Health Articles</a></li>
        <li><a href="#">Offers / Coupons</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Report Infringent</a></li>
      </ul>

      <ul class="box">
        <li class="link_name">TOP CATEGORIES</li>
        <li><a href="#">Ayush</a></li>
        <li><a href="#">Devices</a></li>
        <li><a href="#">Family Care</a></li>
        <li><a href="#">Fitness</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Personal Care</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">SOCIAL</li>
        <li><a href="#">Patients Alike</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Refer & Earn</a></li>
      </ul>
     



    </div>
  </div>
  <div class="bottom-details" style="background-color: #32aeb1;">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2022<a href="#"> Netmeds</a>Marketplace Ltd.</span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>




