.nav-link{
    color: aliceblue;
    font-weight: bold;
}

.nav{
    background-color: #32aeb1;
    padding-bottom: 20px;
}

.carousel-item{
    padding-bottom: 30px;
   
   
}

.head1{
    font-weight: bolder;
    margin-left: 40px;
    padding-bottom: 10px;
    font-size: 20px;

}

.card-group{
    padding-top: 30px;
    margin-left: 10px;
}



.carousel{
    max-width: 100%;
    height: 320px;
   
}


.back{
    background-color: #f3f3f3;
    margin-top: 10px;
}