<ul class="nav nav-pills nav-fill " >
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="https://www.netmeds.com/prescriptions">Medicine</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.netmeds.com/wellness">Welless</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.netmeds.com/health-packages">Lab Tests</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link">beauty</a>
    </li> -->
    <li class="nav-item dropdown hello" style="background-color: #32aeb1;">
      <a class="nav-link dropdown-toggle  hello" href="#" id="navbarDropdown" 
        data-bs-toggle="dropdown" aria-expanded="false">
        BEAUTY
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="https://www.netmeds.com/non-prescriptions/skin-care">Skin Care</a></li>
        <li><a class="dropdown-item" href="https://www.netmeds.com/non-prescriptions/hair">Hair</a></li>
        <li><a class="dropdown-item" href="https://www.netmeds.com/non-prescriptions/make-up">  Make Up</a></li>
        <li><a class="dropdown-item" href="https://www.netmeds.com/non-prescriptions/fragrances">Fragnances</a></li>
      </ul>
    </li> 
    
  </ul>
  
<div class="back">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1666362521_Home_Bannernms20.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1667146062_Web_Home_Bannesfadsffdsgsd.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="	https://www.netmeds.com/images/cms/aw_rbslider/slides/1666362307_Home_Bannernmsnew.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <!-- Three Vertical Cards Section -->

 <div class="container-fluid mb-4 mb-sm-4 mb-md-5" style="background-color: #f3f3f3;">
  <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
              <div class="card">
                <a href="https://www.netmeds.com/wellness">
                  <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1660801057_Wellness_Mini.jpg
                  " alt="Image"class="card-img-top">
                </a>
              </div>
          </div>
          <div class="col ">
              <div class="card">
                <a href="https://www.netmeds.com/non-prescriptions/ayush/ayurvedic">
                  <img src="	https://www.netmeds.com/images/cms/aw_rbslider/slides/1660801237_Ayurverda_Mini.jpg  " alt="Image"class="card-img-top">
                  </a>
              </div>
          </div>
          <div class="col">
              <div class="card">
                <a href="https://www.netmeds.com/images/cms/aw_rbslider/slides/1666356100_Web_Mini_Bannerfree.jpg">
                  <img src="	https://www.netmeds.com/images/cms/aw_rbslider/slides/1666356100_Web_Mini_Bannerfree.jpg  " alt="Image"class="card-img-top">
                 </a>
              </div>
          </div>
      </div>     
  </div>
</div>

<!-- Three Vertical Cards Section End -->








<div class="head1"> SHOP BY CATEGORY</div>

  
<div class="card-group">
  <div class="card">
    <a (click)="filter('Ayush')" >
    <img src="https://www.netmeds.com/images/category/481/thumb/ayush_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Ayush</h5>
</div>
</a>
   
  </div>
  <div class="card">
    <a (click)="filter('Hair Care')" >
    <img src="https://www.netmeds.com/images/category/v1/547/thumb/hair_care_2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hair Care</h5>
</div>
</a>
 
  </div>

  <div class="card">
    <a (click)="filter('Body Care')" >
      <img src="	https://www.netmeds.com/images/category/v1/525/thumb/body_care_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Body care</h5>
      
      </div>
      </a>
     
    </div>


    <div class="card">
      <a (click)="filter('Treatments')" >
      <img src="https://www.netmeds.com/images/category/624/thumb/treatments_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Treatments</h5>
   </div>
   </a>
   
    </div>
  <div class="card">
    <a (click)="filter('Cold And Fever')" >
    <img src="https://www.netmeds.com/images/category/821/thumb/cold_and_fever.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cold And Fever</h5>
</div>
</a>
  </div>
</div>


<br>


<div class="head1"> TOP BRANDS</div>

<!--   
<div class="card-group">
  <div class="card">
    <a (click)="filter('Ayush')" >
    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/head-shoulders.jpg?v=15" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Head-Shoulders</h5>
      <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
</div>
</a>
   
  </div>
  <div class="card">
    <a (click)="filter('Hair Care')" >
    <img src="	https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/coony.jpg?v=15" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">coony</h5>
      <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
</div>
</a>
 
  </div>

  <div class="card">
    <a (click)="filter('Body Care')" >
      <img src="	https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/veet.jpg?v=15" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Veet</h5>
        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
      
      </div>
      </a>
     
    </div>


    <div class="card">
      <a (click)="filter('Treatments')" >
      <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/st-dvence.jpg?v=15" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">st-Devence</h5>
        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
   </div>
   </a>
   
    </div>
  <div class="card">
    <a (click)="filter('Cold And Fever')" >
    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/aroma-magic.jpg?v=15" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Aroma Magic</h5>
      <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
</div>
</a>
  </div>
</div>

 -->




  <!-- Three Vertical Cards Section -->
  <div class="container-fluid mb-4 mb-sm-4 mb-md-5">
    <div class="container">
           <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
                <div class="card">
                  <a (click)="filter('HeadShoulder')" >
                    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/head-shoulders.jpg?v=15" alt="Image"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;" routerLink="/adminData">HeadShoulder</h5>
                        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                       
                    </div>
                    </a>
                </div>
            </div>
            <div class="col ">
                <div class="card">
                    <img src="	https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/coony.jpg?v=15" alt="Image"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">coony</h5>
                        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                     
                                </div>
                </div>
            </div>

            <div class="col ">
                <div class="card">
                    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/veet.jpg?v=15" alt="Image"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Veet</h5>
                        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                       
                                </div>
                </div>
            </div>
            <div class="col ">
                <div class="card">
                    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/st-dvence.jpg?v=15" alt="Image"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">st-Devence</h5>
                        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                      
                                </div>
                </div>
            </div>
            <div class="col ">
                <div class="card">
                    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/aroma-magic.jpg?v=15" alt="Image"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Aroma Magic</h5>
                        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                     
                                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/dabur.jpg?v=15" alt="Image"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Dabur</h5>
                        <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                       
                           </div>
                </div>
            </div>
        </div>     
    </div>
</div> 

<!-- Three Vertical Cards Section End -->


<div style=" margin-left: 40px; font-weight: bolder; padding-bottom: 30px;font-size: 20px;">TODAY DEALS</div>


 <div class="container" style="padding-top: -10px;">
  <div class="row">
      <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <div class="card col-md-3">
          <img src="{{item.image}}" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100ch;font-weight: bold;">{{item.title}}</h5>
          <p  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
          <p><strong>Price:</strong>${{item.price}}</p>
          <button routerLink="/cart" style="background-color: #32aeb1; color: aliceblue; font-size: larger;border-radius: 3px;" (click)=addtoCart(item)>Add to cart</button>

      </div>
      </ng-container>
  </div>
</div> 



</div>

