<app-header></app-header>
<router-outlet></router-outlet>

     <!-- Three Vertical Cards Section -->
 <!-- <div class="container-fluid mb-4 mb-sm-4 mb-md-5">
        <div class="container">
               <div class="row row-cols-1 row-cols-md-6 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/head-shoulders.jpg?v=15" alt="Image"class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">HeadShoulder</h5>
                            <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card">
                        <img src="	https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/coony.jpg?v=15" alt="Image"class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">coony</h5>
                            <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                         
                                    </div>
                    </div>
                </div>

                <div class="col ">
                    <div class="card">
                        <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/veet.jpg?v=15" alt="Image"class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Veet</h5>
                            <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                           
                                    </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card">
                        <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/st-dvence.jpg?v=15" alt="Image"class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">st-Devence</h5>
                            <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                          
                                    </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card">
                        <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/aroma-magic.jpg?v=15" alt="Image"class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Aroma Magic</h5>
                            <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                         
                                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://www.netmeds.com/images/cms/wysiwyg/brand/v2/msite/dabur.jpg?v=15" alt="Image"class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Aroma Magic</h5>
                            <p style="text-align: center; color: rgb(22, 211, 70);">upto 30%off</p>
                           
                               </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>  -->

    <!-- Three Vertical Cards Section End -->