<ng-container *ngIf="products.length!=0">
    <div class="container">
    <div class="card-table">

        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th >Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                  
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                        <td style="width: 25%;">{{item.description}}</td>
                        <td style="width: 5%;">{{item.price}}</td>
                        <td><button class="btn btn-outline-danger btn-sm" (click)="dec(item)">-</button>&nbsp;
                        {{item.quantity}}&nbsp;
                        <button class="btn btn-outline-success btn-sm" (click)="inc(item)">+</button></td>
                       <td> <h5><strong>Price:</strong> ₹{{item.price * item.quantity|number}}</h5></td>
                        <td>
                            <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="1"></td>
                        <td><button (click)="emptycart()"  style="border-radius: 10px;border-color: aquamarine;">Empty cart</button></td>
                    
                        <td routerLink="/products"><button  style="border-radius: 10px;border-color: aquamarine;">Shop More</button></td>

                        <!-- <td><button routerLink="/checkout"  style="border-radius: 10px;border-color: aquamarine;">Check Out</button></td> -->

                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

</ng-container>



<ng-container *ngIf="products.length ==0">
     <div class="container">

        <div class="card">
        <h5 class="card-title">My Cart</h5>
        </div>
    <div class="center">
        <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="imagr">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    </div>
    </div>
    </ng-container>






